mixin simple-form({ heading, action, method, field, hidableSubmitButton, hidableResetButton })
  form.simple-form.simple-form--empty(action= action method= method target='_blank')&attributes(attributes)
    if heading
      p.simple-form__heading= heading
    .simple-form__inner
      label.simple-form__field
        span.simple-form__field-inner
          span.simple-form__control-wrapper
            span.simple-form__placeholder= field.placeholder
            input.simple-form__control(
              name= field.name
              type= field.type
              required='true'
              value= field.value
            )
      .simple-form__buttons
        button.simple-form__button.simple-form__button--clear(class= hidableResetButton && 'simple-form__button--hidable' type='button')
          span.visually-hidden Очистить
        button.simple-form__button.simple-form__button--submit(class= hidableSubmitButton && 'simple-form__button--hidable' type='submit' data-submit-button)
          span.visually-hidden Отправить
